.navbar {
    position: absolute;
    height: 4rem;
    width: 100%;
    background-color: transparent; /* Make background transparent */
    border: none; /* Remove border if any */
    flex-direction: row;
    display: flex;
    justify-content: center;
    transition: height 0.3s; /* Add smooth transition */
    transition: opacity 5s ease-in; /* Add smooth transition for opacity when appearing */
    transition: opacity 0.5s ease-out;
    z-index: 1;
}

/* .navbar:hover {
    display: flex;
    opacity: 1;
} */

.navbar .leftSide {
    flex: 50%;
    height: auto;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    font-size: 2.5rem;
    cursor: default;
    color: white;
}

.navbar .middle {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 50%;
}

.navbar .middle img {
    padding-top: 10px;
    width: 75px;
}

.navbar .rightSide {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%
}

.navbar a {
    color: white;
    font-size: 1.7rem;
    text-decoration: none;
    margin: 1rem;
}

.navbar .rightSide button {
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
}

.navbar .rightSide svg {
    font-size: 40px;
    color: transparent; 
}

.hidden-links {
    display: none;
}

.navbar #open {
    padding-left: 0px;
}

.navbar #open img {
    display: none;   
}

.navbar #open .hidden-links {
    display: flex;
    margin-left: 1rem;
}

.navbar #close .hidden-links {
    display: none;
}

.navbar #open a {
    width: auto;
    margin: 1rem;
}




/* For screen less than 700px */
@media only screen and (max-width: 700px) {
    .navbar{
        height: 3rem;
        margin-top: 10px;
    }
    .navbar .rightSide a{
        display: none;
    }

    .navbar .rightSide button{
        display: block;
    }

    .navbar .middle{
        display:none;
    }

    .navbar .leftSide p{
        display: none;
        font-size: 100px;
    }

    .navbar .leftSide{
        margin-top: 13px;
    }

    .navbar .leftSide img{
        display:inline-flex;
        width: 65px;
        justify-content: center;
    }


}

/* For screen greater than 700px */
@media only screen and (min-width:700px){


    .navbar .leftSide{
        display: none;
    }

    .navbar .middle{
        flex-direction: row;
        justify-content: left;
        margin-left: 10px;
    }
    

    .navbar .leftSide img{
        display:none;
    }

    .navbar #open .hidden-links{
        display: none;
    }

}